#container{
    width: 1440px;
    background-color:rgba(163, 186, 228, 0.5);
    text-align: center;
    position: relative;
    height: 1200px
    
}
#longbox{
    position: absolute;
    background-color: white;
    text-align: center;
    width: 250px;
    height:400px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    border-radius: 24px;
}
img{
    border: solid;
    border-width:0.5px;
    border-color:transparent;
    margin-top: 10px;
    width: 220px;
    height: 220px;
    border-radius: 10px;
}
@font-face {
    src: url(./Outfit/static/Outfit-Bold.ttf);
    font-family: "bold";
}
@font-face {
    src:url(./Outfit/static/Outfit-Regular.ttf);
    font-family: "regular";
}
#firsttext{
    padding: 5px;
    font-size: 20px;
    font-weight: 700;
    font-family: bold;
    margin-bottom: 1px;
    color:hsl(227, 10%, 27%)
}
#secondtext{
    font-size: 15px;
    font-family: regular;
    padding: 10px;
    margin-top: 0px;
    color:hsl(226, 10%, 52%);
}
